<!DOCTYPE html>
<html>
  <head>
    <title><%- webpackConfig.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- webpackConfig.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P" rel="stylesheet">
  </head>
  <body>
    <!-- TODO: Remove (?) -->
    <!--<require from="styles/cv.scss"></require>-->    

    <div>
      <div class="message"><%- webpackConfig.metadata.title %></div>
    </div>
    <% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
