$material_white: #fff;
$material_black: #000;

$material_light_pink: #F8BBD0;
$material_medium_pink: #FF4081;
$material_dark_pink: #C2185B;

$material_medium_gray: #727272;
$material_light_gray: #b6b6b6;
$material_dark_gray: #212121;
$material_blue_gray: #455a64;

$material_dark_teal: #00796B;

$material_light_cyan: #B2EBF2;
$material_medium_cyan: #00BCD4;
$material_dark_cyan: #0097A7;

$material_dark_blue: #1976D2;
$material_medium_blue: #1976D2;


// TODO:  map to semantic names
$cod_gray: #0b0b0b;
$color_blue_chill_approx: #0b97a0;
$color_radical_red_approx: #f2001c;
$color_tapa_approx: #0020ff;
$color_wine_berry_approx: #ff00e2;
$color_green_approx: #01be01;
$color_gumbo_approx: #ff7d04;
$color_aquamarine_blue_approx: #00e2ff;
$color_gallery_approx: #eee;
