
.pulse {
  -webkit-animation: pulsate 5s infinite; 
  animation:         pulsate 5s infinite; 
}

section {
  box-sizing: border-box;
  width: 102%;
  margin: -20px 0px -20px -10px;
  padding: 15px 15px 5px 25px;
  border: 10px solid $primary_border_color;  
 
  h5 {
    text-align: center;
  }
  h6 {
    font-size: 0.6em;
    line-height: 0;
  }
  div, img {
    margin: 1em;    
  }  
  img {
    @extend %frame;    
  }
}

ol {
  @extend %fonts_primary;
  font-size: 8px;
  
  flex-wrap: wrap;
}

ol li {
  // TODO: placeholder
  list-style: none;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  margin: 0.3em;
  
  width: 175px;
  height: 175px;
  
  box-sizing: border-box;  
  @extend %frame;
    
  text-align: center;
  color: $quintiary_text_color;
  @extend %fonts_secondary;
  font-size: 1.2em;
    
  @extend %linear_gradient_top;
  
  img {       
    height: 50%;
    width: 50;
    
    margin: 10px auto;
    padding: 0.2em;
       
    border: transparent;
    box-shadow: 0 1px 20px $secondary_accent_color;
       
    background: white;
  }
}

.list-item {
  @extend %fonts_secondary;
  font-size: 8px;
    
  border: none;
  //box-shadow: 0 0 30px $secondary_accent_color;
  
  width: 120px;
  height: 120px;
  
  text-align: center;
  
  img {
    width: 100px;
    height: 50px;
    
    background: white;
    
    border: none;
  }
}

.list-item-alt {
  @extend %fonts_secondary;
  font-size: 8px;
    
  border: none;
  
  width: 120px;
  height: 120px;
  
  text-align: center;
  
  img {
    width: 100px;
    height: 100px;
    
    background: transparent;
    
    border: none;
    box-shadow: none;

  }
}

.title {
  box-sizing: border-box;
  width: 102%;
  margin: 0 0 -20px -10px;
    
  @extend %linear_gradient_top;  
}

.flex {  
  display: flex;
  flex-direction: row;    
}

.flex-content {
  flex-wrap: nowrap;
  justify-content: space-around;
}

.ribbon {
  position: relative;
  
  width: 1020px;

  margin: 20px;
  padding: 0 10px;

  
  color: $primary_text_color;
  background: $primary_background_color;
  
  border: 1px solid $secondary_shadow_color;
  border-radius: 3px;
  box-shadow: 0 1px 5px $primary_shadow_color;
  
  h2 {
    display: block;
    
    height: 30px;
    width: 1012px;
    
    margin: 0;
    padding: 20px 20px;
    
    position: relative;
    left: -16px;
    top: 8px;
    
    border-top: 2px solid $quartiary_border_color;
    border-bottom: 2px solid $quartiary_border_color;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 2px 2px $secondary_shadow_color;
    
    background: $tertiary_background_color;
    // TODO: Autoprefix
    background: -webkit-linear-gradient(left, $tertiary_gradient_color 0, $secondary_gradient_color 58%);
    background: linear-gradient(left, $tertiary_gradient_color 0, $secondary_gradient_color 58%);

    color: $heading_text_color;
    text-align: center;
    text-shadow: 0 0 6px $primary_text_shadow_color;
    font-size: 1.2em;    
  }
  
  h2::before {
    @extend %ribbon_extension;
    left: 0px;
  }
  h2::after {
    @extend %ribbon_extension;
    right: 1px;
  }
}