.cv {
  margin: 20px;
  margin-top: 40px;
  padding-top: 10px;

  color: $primary_text_color;
  background: $primary_background_color;

  border-radius: 3px;

  table {
    @include desktop_and_down {
      table, thead, tbody, th, td, tr {
        display: block;
      }

      td {
        border: none;
        position: relative;
        padding-left: 49%;
      }
    }
  }

  h2 {
    margin: 0;
    padding: 20px 0;

    background: $tertiary_background_color;
    // TODO: Autoprefix
    background: -webkit-linear-gradient(left, $tertiary_gradient_color 0, $secondary_gradient_color 58%);
    background: linear-gradient(left, $tertiary_gradient_color 0, $secondary_gradient_color 58%);

    color: $heading_text_color;
    text-align: center;
    text-shadow: 0 0 6px $primary_text_shadow_color;
    font-size: 1.4em;
  }

  section {
    border: none;
    margin: 1em;
    width: 100%;

    p {
      font-size: 0.8rem;
    }

    ol, ul {
      flex-wrap: wrap;

      font-size: 0.7rem;
    }

    card {
      @include card_responsive(33%, transparent, 50%);
    }

    card-inverse {
      @include card_responsive(50%, white, 0%);
    }

    .mini-card {
      @include mini_card_responsive(150px, 75px, white);
    }

    .mini-card-inverse {
      @include mini_card_responsive(150px, 150px, transparent);
    }

    .flex-content {
      flex-wrap: wrap;
    }
  }

  blockquote {
    font-size: 1em;
    line-height: 1em;
  }
}