@mixin card($size, $bg_color, $border_radius) {
    @extend %card; 

    img {       
        height: $size;
        width: $size;

        margin: 10px auto;
        padding: 0.2em;
            
        border-radius: $border_radius;  
        border: transparent;
        box-shadow: 0 1px 20px $secondary_accent_color;
            
        background: $bg_color;
    }
}

@mixin mini_card($width, $height, $background) {
    @extend %mini_card; 

    img {       
        width: $width;
        height: $height;
        
        background: $background;
        
        border: none;
    }
}

@mixin card_responsive($size, $bg_color, $border_radius) {
    @extend %card_responsive;
    @include card($size, $bg_color, $border_radius)
}

@mixin mini_card_responsive($width, $height, $background) {
    @extend %mini_card_responsive;
    @include mini_card($width, $height, $background)
}