@import 'imports';

body {
  background: $secondary_background_color;
}

h1 {
  font-size: 10px;
}

h2, h3, h4, h5, h6 {
  @extend %fonts_primary;
  color: $quintiary_text_color;
}

b {
  color: $secondary_text_color;
}

p {
  @extend %fonts_primary;
  font-size: 8px;
  line-height: 1.5em;
  margin: 1em 2em;
}

pre {
  text-align: center;
  color: $primary_accent_color;
  text-shadow: 0 6px 12px $secondary_text_shadow_color;
}

blockquote {
  @extend %fonts_secondary;
  font-style: italic;
  color: $secondary_default_color;
  line-height: 0.4em;
  font-size: 0.8em;
}

ol {  
  flex-wrap: wrap;
}

ol, ul {
  list-style: none;
  @extend %fonts_primary;
  font-size: 8px; 
}
